.ICEauthority
.VirtualBox/
.Xauthority
.aptitude/
.bash_history
.bash_logout
.cache/
.compiz/
.config/
.dbus/
.dmrc
.emacs.d/network-security.data
.emacs.d/auto-save-list/
.emacs.d/elpa
.emacs.d/eshell/#alias#
.emacs.d/eshell/.#alias
.emacs.d/eshell/history
.emacs.d/eshell/lastdir
.gconf/
.gnome/
.gnupg/
.hushlogin
.landscape/
.lesshst
.local/
.macromedia/
.motd_shown
.mozilla/
.pki/
.profile
.q_history
.rnd
.saves/
.ssh
.sudo_as_admin_successful
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
.viminfo
.xsession-errors
.xsession-errors.old
AppData/Local/
AppData/LocalLow/
AppData/Roaming
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
ISOs/
Links/
Music Bought Online/
Music/
NTUSER.DAT*
Pictures/
Saved\ Games/
Searches/
SkyDrive/
Videos/
VirtualBox\ VMs/
_viminfo
bin/
examples.desktop
git/
kx/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
q/
qlibs/
src/
work/
