[alias]
	lg = log --pretty=oneline --abbrev-commit --graph --decorate
	stat = status -s
	staged = diff --staged
[user]
	email = darren.armstrong85@gmail.com
	name = Darren Armstrong
[push]
	default = simple
