[alias]
	unstage = "reset HEAD"
	stat = status -s
	staged = diff --staged
	lg = log --graph --pretty=myshort
[user]
	email = darren.armstrong85@gmail.com
	name = Darren Armstrong
[core]
	pager = less -rF
[push]
	default = simple
[merge]
	renamelimit = 10240
[pretty]
	myshort = "%h %an %Cblue%d%Creset %Cgreen%s %Creset"