[alias]
	stat = status -s
	staged = diff --staged
	lg = log --graph --decorate --pretty=myshort
[user]
	email = darren.armstrong85@gmail.com
	name = Darren Armstrong
[push]
	default = simple
[pretty]
	myshort = %h %an %ai %Cblue %d %Cgreen %s %Creset