.ICEauthority
.VirtualBox/
.Xauthority
.bash_history
.bash_logout
.cache/
.compiz/
.config/
.dbus/
.gconf/
.lesshst
.local/
.profile
.ssh
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
.xsession-errors
.xsession-errors.old
AppData/Local/
AppData/LocalLow/
AppData/Roaming
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
ISOs/
Links/
Music Bought Online/
Music/
NTUSER.DAT*
Pictures/
Saved\ Games/
Searches/
SkyDrive/
Videos/
VirtualBox\ VMs/
_viminfo
examples.desktop
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
.emacs.d/auto-save-list/
.emacs.d/eshell/history
.emacs.d/eshell/lastdir
.macromedia/
.mozilla/
.rnd
.toprc
work/
